.baloon{
  padding: 10px;
  min-width: 10vw;
  max-width: 20vw;
  min-height: 80px;
}
.baloon-title{
  font-size: 1.2em;
  line-height: 1.2;
font-weight: 600;
  margin-bottom: 1em;
}
.baloon-content{
  font-size: 1.0em;
  line-height: 1.1;
  margin-bottom: 1em;
}